@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway');

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  font-size: 140%;
  line-height: 180%;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
}
